* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

body,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  gap: 15px;
}

h1 {
  color: #0c2631;
}

input,
button {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

input {
  color: #1b5770;
  outline: 1px solid #247ba0;
}

input:focus {
  outline: 1px solid #0c2631;
}

button {
  background-color: #247ba0;
  cursor: pointer;
  color: #fffcff;
}

button:hover {
  background-color: #0c2631;
}
